<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Person</title>
    </head>
    <body>
        <p th:text="${person.getName()}"/>
        <p th:text="${'Email: ' + person.getEmail()}"/>
        <p th:text="${'Date of birth: ' + person.getDateOfBirth()}"/>
        <p th:text="${'Created at: ' + person.getCreatedAt()}"/>

        <p>Items list:</p>
        <div th:each="item: ${items}">
            <a th:text="${item.getName()}">Item</a>
        </div>
        <br>

        <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit person</a>

        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="Delete">
        </form>
    </body>
</html>